
* {
  padding: 0;
  margin: 0;
  text-align: center;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-width: 1400px;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

h2 {
  font-family: 'Raleway';
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  color: #000000;
}

.content {
  max-width: 940px;
  margin: 0 auto;
}

.button {
  font-size: 14px;
  font-family: 'Raleway';
  display: inline-block;
  color: #000000;
  border-radius: 17px 18px 18px 17px;
  background-color: rgba(0, 0, 0, 0);
  padding: 10px 27px;
}

.button:hover {
  border-radius: 17px 18px 18px 1px 17px 18px 18px;
  background-color: rgba(0, 0, 0, 0);
  -webkit-box-shadow: inset 0 2px rgba(255, 255, 255, 0.2);
  box-shadow: inset 0 2px rgba(255, 255, 255, 0.2);
  background-image: -webkit-linear-gradient(bottom, #e8a022, #ffe372);
  background-image: -webkit-gradient(linear, bottom left, top left, from(#e8a022), to(#ffe372));
  background-image: linear-gradient(to top, #e8a022, #ffe372);
}

.orange {
  -webkit-box-shadow: inset 0 2px rgba(255, 255, 255, 0.2);
  box-shadow: inset 0 2px rgba(255, 255, 255, 0.2);
  background-image: -webkit-linear-gradient(bottom, #f5b037, #ffe372);
  background-image: -webkit-gradient(linear, bottom left, top left, from(#f5b037), to(#ffe372));
  background-image: linear-gradient(to top, #f5b037, #ffe372);
  opacity: 1;
}

/* стили модального окна*/

.portBox-overlay {
  height: 100%;
  width: 100%;
  background: #000000;
  opacity: 0.6;
  filter: alpha(opacity=60);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: none;
}

#order,
#empty {
  width: 380px;
  height: 240px;
}

#design {
  width: 500px;
  height: 280px;
}

.portBox {
  position: absolute;
  margin: -2250px 0;
  padding-left: 25px;
  display: none;
  z-index: 1001;
  border-radius: 3px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
}

.portBox h2 {
  padding: 30px 0px 20px 0px;
}

.portBox p {
  font-family: "PT Serif";
  font-size: 14px;
  font-style: italic;
  color: #666;
  padding: 0 30px;
}

.portBox input[type="name"],
.portBox input[type="phone"] {
  width: 140px;
  height: 35px;
  font-size: 14px;
  line-height: 24px;
  padding: 0 15px;
  text-align: left;
  border-radius: 17px 18px 18px 17px;
  background-color: #f2f2f2;
  -webkit-box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.15), inset 0 0 0 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.15), inset 0 0 0 1px rgba(0, 0, 0, 0.05);
  border: none;
}

.portBox input[type="submit"] {
  padding: 10px 50px;
  margin: 10px auto 20px auto;
  border: none;
}

.close-portBox {
  display: none;
}

/*стили для хедера*/

header {
  width: 100%;
  min-height: 430px;
  background-image: url(../img/header.jpg);
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
}

header:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 1000px;
  height: 430px;
  background-color: rgba(242, 242, 242, 0);
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));
  background-image: -webkit-gradient(linear, top left, bottom left, from(rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0)));
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));
  z-index: 9;
}

header nav {
  overflow: hidden;
  padding: 37px 0px 0 0;
  z-index: 10;
}

header nav a.logo {
  display: inline-block;
  width: 231px;
  height: 17px;
  float: left;
  margin-top: 13px;
  background: url(../img/logo.png) no-repeat;
  z-index: 10000;
}

header nav .promo {
  width: 180px;
  float: right;
  vertical-align: top;
}

header nav .promo p.phone {
  text-align: left;
  font-size: 20px;
  color: #ffffff;
  font-family: "Tahoma";
}

header nav .promo p.promophone {
  text-align: left;
  font-size: 13px;
  color: #d9d9d9;
  font-family: 'Raleway';
}

header nav a.button {
  float: right;
}

header h1 {
  padding: 43px 0 0 10px;
  display: inline-block;
  width: 500px;
  font-family: 'Raleway';
  font-weight: normal;
  text-transform: uppercase;
  color: #ffffff;
  font-size: 48px;
  line-height: 60px;
  letter-spacing: 3px;
}

header h1 span.cupboard {
  display: inline-block;
  padding: 5px;
  font-size: 60px;
  font-weight: bold;
  letter-spacing: 3.5px;
}

header h1 span.cost {
  display: inline-block;
  font-family: 'PT Serif';
  font-size: 30px;
  line-height: 45px;
  font-style: italic;
  position: relative;
  padding: 0px 30px 20px 23px;
  border-right: 2px solid #ffe372;
  border-left: 2px solid #f5b037;
  text-transform: none;
  letter-spacing: 0px;
}

header h1 span.cost:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-image: -webkit-linear-gradient(left, #f5b037, #ffe372);
  background-image: -webkit-gradient(linear, top left, top right, from(#f5b037), to(#ffe372));
  background-image: linear-gradient(to right, #f5b037, #ffe372);
}

/*стили для преимуществ*/

.sort {
  overflow: hidden;
  border-bottom: 1px solid #c2c2c2;
  padding: 55px 10px 0px 30px;
}

.sort .benefits {
  float: left;
  width: 33.3%;
  font-family: 'Raleway';
  text-transform: uppercase;
  color: #000000;
  border-right: 1px solid #c2c2c2;
}

.sort .benefits:nth-child(3) {
  border-right: none;
}

.sort .benefits h2 {
  font-size: 30px;
  font-weight: bold;
}

.sort .benefits span {
  font-size: 18px;
  line-height: 25px;
}

.sort .benefits p {
  font-family: 'PT Serif';
  font-size: 16px;
  line-height: 24px;
  font-style: italic;
  text-transform: none;
  color: #595959;
  padding: 6px 20px 40px 20px;
}

/*стили для уникальная возможность*/

.designer_booking {
  overflow: hidden;
  text-align: left;
  padding-top: 60px;
}

.designer_booking img {
  width: 50%;
  float: left;
  padding-right: 70px;
}

.designer_booking .column {
  width: 50%;
  float: right;
  position: relative;
  padding-top: 48px;
}

.designer_booking .column p {
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  color: #4d4d4d;
  text-align: left;
  padding-bottom: 10px;
  letter-spacing: -0.2px;
}

.designer_booking .column h2 {
  text-align: left;
  padding-bottom: 22px;
  line-height: 40px;
}

.designer_booking .column ul {
  padding-bottom: 30px;
}

.designer_booking .column ul li {
  text-align: left;
  font-family: 'PT Serif';
  font-size: 18px;
  font-style: italic;
  color: #262626;
  line-height: 30px;
  list-style: none;
}

.designer_booking .column a.button {
  float: left;
  text-align: left;
  padding: 15px 45px;
  border-radius: 20px;
  letter-spacing: 0.4;
}

.designer_booking .column:after {
  content: "";
  background-image: url(../img/arrow.png);
  width: 50px;
  height: 204px;
  position: absolute;
  top: 160px;
  right: 0;
}

/*слайдер*/

.interactiv {
  height: 832px;
  background-color: #f2f2f2;
  position: relative;
}

.interactiv .button {
  padding: 10px 45px;
  position: absolute;
  right: 530px;
  top: 74%;
  z-index: 1000;
}

.interactiv p:nth-child(1) {
  font-family: 'PT Serif';
  font-size: 20px;
  line-height: 32px;
  font-style: italic;
  color: #4d4d4d;
  padding: 70px 0 60px 0;
}

.interactiv .portBox {
  width: 360px;
  margin: -3300px auto;
}

.interactiv .crop {
  float: left;
  overflow: hidden;
  /* this is important */
  position: relative;
  /* this is important too */
  width: 940px;
  height: 480px;
}

.interactiv .crop img {
  position: absolute;
  top: -80px;
  left: 0;
}

.interactiv h3 {
  font-family: 'Raleway';
  font-weight: normal;
  font-size: 30px;
  line-height: 60px;
  color: #333;
  padding: 2px 0 50px 0;
  letter-spacing: 1.5px;
}

.how {
  padding-top: 55px;
}

.how h2 {
  line-height: 60px;
  letter-spacing: 1.5px;
}

.how .sale {
  font-family: 'PT Serif';
  font-size: 24px;
  font-style: italic;
  color: #4d4d4d;
  line-height: 27px;
}

.how .reasons {
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: 0 270px;
  border-bottom: 1px solid #d9d9d9;
}

.how .reasons .number {
  font-family: 'PT Serif';
  font-size: 48px;
  line-height: 26px;
  color: #333;
  padding: 65px 0 30px 0;
}

.how .reasons h3 {
  display: inline;
  font-family: 'Raleway';
  font-size: 30px;
  font-weight: normal;
  line-height: 44px;
  text-transform: uppercase;
  color: #000;
  background-color: #fff;
  position: relative;
  top: 20px;
  z-index: 10;
  padding: 0 20px;
  letter-spacing: 1.7px;
}

.how .reasons p {
  font-family: 'PT Serif';
  font-size: 18px;
  line-height: 26px;
  font-style: normal;
  color: #404040;
  width: 690px;
  position: relative;
  margin: 0 auto 40px auto;
  padding: 30px 15px 25px 15px;
  border-right: 2px solid #ffe372;
  border-left: 2px solid #f5b037;
}

.how .reasons p:after,
.how .reasons p:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background-image: -webkit-linear-gradient(left, #f5b037, #ffe372);
  background-image: -webkit-gradient(linear, top left, top right, from(#f5b037), to(#ffe372));
  background-image: linear-gradient(to right, #f5b037, #ffe372);
  z-index: 1;
}

.how .reasons p:after {
  left: 0;
  bottom: 0;
}

.how .reasons p:before {
  top: 0;
  left: 0;
}

.how .reasons .cause {
  padding: 60px 10px 30px 10px;
  float: left;
  width: 33%;
  height: 140px;
  font-family: 'PT Serif';
  font-size: 18px;
  line-height: 26px;
  color: #333;
  border-right: 1px solid #d9d9d9;
}

.how .reasons .bdn {
  border-right: none;
}

.how .first {
  background-image: url(../img/sprite1.png);
}

.how .first .cause {
  padding: 60px 30px 30px 30px;
}

.how .first p {
  font-style: italic;
}

.how .second {
  margin-top: 20px;
  background-image: url(../img/sprite2.png);
}

.how .third {
  margin-top: 15px;
  background-image: url(../img/sprite3.png);
}

.application {
  margin-top: 95px;
  background-image: url(../img/bgmiddle.jpg);
  height: 455px;
  background-position: 0 -370px;
  -webkit-background-size: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
  position: relative;
}

.application .block {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 710px;
  height: 290px;
  padding: 45px 70px;
  background-color: #333;
  font-family: 'PT Serif';
  font-style: italic;
  color: #fff;
}

.application .block p:nth-child(1) {
  font-family: 'Raleway';
  font-size: 48px;
  font-style: normal;
  text-transform: uppercase;
  line-height: 40px;
  letter-spacing: 1.5px;
  color: #ffffff;
  padding-bottom: 20px;
}

.application .block p:nth-child(2) {
  font-size: 30px;
  line-height: 30px;
  color: #ffffff;
  padding-bottom: 6px;
}

.application .block p:nth-child(3) {
  font-size: 18px;
  line-height: 35px;
  color: #e6e6e6;
}

.application .block a {
  margin-top: 20px;
  font-style: normal;
  padding: 15px 25px;
  font-size: 18px;
  border-radius: 30px;
}

.facts {
  padding-top: 85px;
  overflow: hidden;
}

.facts img {
  float: left;
  width: 50%;
  padding-right: 45px;
}

.facts .fact {
  float: right;
  width: 50%;
}

.facts .fact h4 {
  font-family: 'Raleway';
  color: #000;
  font-size: 60px;
  text-transform: uppercase;
  text-align: left;
  font-weight: normal;
  letter-spacing: 2px;
}

.facts .fact h4 span {
  font-size: 30px;
  line-height: 40px;
}

.facts .fact .row {
  overflow: hidden;
  padding-bottom: 40px;
  margin-top: 25px;
}

.facts .fact .row .pr {
  float: left;
  width: 46.5%;
  padding-bottom: 23px;
  border-bottom: 1px solid #c2c2c2;
  border-right: 1px solid #c2c2c2;
}

.facts .fact .row .pr:nth-child(2) {
  width: 53.5%;
  border-right: none;
  padding-left: 44px;
}

.facts .fact .row .pr h2 {
  text-align: left;
  line-height: 40px;
  letter-spacing: 1.2px;
}

.facts .fact .row .pr p {
  font-family: 'PT Serif';
  font-size: 22px;
  font-style: italic;
  color: #333;
  text-align: left;
  line-height: 34px;
}

.facts .fact ul li {
  list-style: none;
  font-family: 'PT Serif';
  font-size: 20px;
  color: #333;
  text-align: left;
  line-height: 34px;
  padding-bottom: 10px;
}

footer {
  background-color: #f2f2f2;
  padding-top: 73px;
}

footer .box {
  font-family: 'PT Serif';
  font-style: italic;
  width: 645px;
  margin: 0 auto;
}

footer .box p {
  font-size: 20px;
  color: #4c4c4c;
  line-height: 30px;
  padding-bottom: 10px;
}

footer .box h5 {
  padding: 11px 0 40px 0;
  font-size: 36px;
  color: #252525;
  line-height: 34px;
  font-weight: normal;
}

footer nav {
  border-bottom: 1px solid #c2c2c2;
  overflow: hidden;
}

footer nav li {
  padding: 25px 45px 50px;
  display: inline-block;
  border-right: 1px solid #c2c2c2;
  width: 33%;
  height: 110px;
  float: left;
}

footer nav li:nth-child(3) {
  border-right: none;
}

footer nav a.map {
  font-family: 'PT Serif';
  font-size: 36px;
  text-decoration: underline;
  color: #333;
  line-height: 40px;
}

footer nav a.button {
  font-size: 18px;
  border-radius: 25px;
  padding: 12px 35px;
}

footer nav a.phone {
  font-family: 'PT Serif';
  font-size: 30px;
  color: #333;
  padding-left: 5px;
}

footer a.logo {
  display: inline-block;
  width: 100%;
  height: 105px;
  background-image: url(../img/logo-grey.png);
  background-repeat: no-repeat;
  background-position: center center;
}

/* For tablets & smart phones */

@media (max-width: 767px) {
  .container {
    width: auto;
  }
}

/* For smartphones */

@media (max-width: 480px) {
  .container {
    width: auto;
  }
}

/* For smaller displays like laptops */

@media (min-width: 768px) and (max-width: 979px) {
  .container {
    width: 724px;
  }
}

/* For larger displays */

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

/*стили для слайдера*/

.bx-pager {
  display: none;
}

/** RESET AND LAYOUT
===================================*/

.bx-wrapper {
  position: relative;
  margin: 0 auto 60px;
  padding: 0;
  *zoom: 1;
  z-index: 100;
}

.bx-wrapper:after {
  content: "";
  display: inline-block;
  width: 940px;
  height: 83px;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  position: absolute;
  left: 0;
  bottom: 0;
}

.bx-wrapper img {
  max-width: 100%;
  display: block;
}

/* DIRECTION CONTROLS (NEXT / PREV) */

.bx-wrapper .bx-prev {
  display: none;
}

.bx-wrapper .bx-next {
  left: 300px;
  bottom: 20px;
  z-index: 100;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0);
  background-image: url(../img/no.png);
  background-repeat: no-repeat;
  position: absolute;
  outline: 0;
  width: 160px;
  height: 35px;
  text-indent: -9999px;
  z-index: 9999;
}

.bx-next:before {
  content: "Не нравится";
  display: inline-block;
  padding: 10px 20px;
  z-index: 200;
  background-color: #0f0;
}

.bx-wrapper .bx-controls-direction a.disabled {
  display: none;
}